@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  background-color: #16181d;
  color: #fff;
  line-height: 1.7;
  overflow-x: hidden;
}

a {
  color: #fff;
  text-decoration: none;
}

ul {
  list-style: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

button {
  height: 48px;
}

nav {
  height: 74px;
}

.nav-logo {
  fill: #1ce783;
  width: 61px;
  height: 24px;
}

.btn-login {
  padding: 4px 12px !important;
  border-radius: 10%;
  background-color: transparent;
  transition: background-color 0.5s;
}

.btn-login:hover {
  background-color: #424957;
}

.navbar-toggler {
  background-color: #424957;
  color: #fff;
}
.navbar-toggler span {
  color: #fff;
}

header {
  height: 670px;
  background: url(../img/original.jpg) no-repeat center center/cover;
}

.header-content {
  padding-top: 60px;
}

@media screen and (min-width: 768px) {
  .header-cards {
    width: 670px;
  }
}
@media screen and (min-width: 576px) and (max-width: 767px) {
  .header-cards {
    width: 570px;
  }
}
@media screen and (max-width: 575px) {
  .header-cards {
    width: 90%;
  }
}
.header-cards .card {
  border: none;
  width: 320px;
}
.header-cards .card .card-title {
  color: #1ce783;
  font-size: 12px;
  margin: 8px;
}
.header-cards .card .card-body {
  padding: 0;
  margin: 10px;
  height: 60px;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .header-cards .card .card-body .hd-logos {
    height: 60px;
    width: auto;
  }
}
@media screen and (max-width: 767px) {
  .header-cards .card .card-body .hd-logos {
    max-height: auto;
    width: inherit;
  }
}
.header-cards .card .card-subtitle {
  margin: 18px;
  color: #fff;
  font-weight: 500;
}
@media screen and (min-width: 768px) {
  .header-cards .card .card-subtitle {
    font-size: 24px;
  }
}
@media screen and (max-width: 767px) {
  .header-cards .card .card-subtitle {
    font-size: 18px;
  }
}
.header-cards .card .btn {
  background-color: #1ce783;
  color: #272c34;
  font-size: 14px;
  font-weight: bold;
}

.hd-legal button {
  background: none;
  border: none;
  box-shadow: none;
  color: #fff;
  font-size: 12px;
  text-decoration: underline;
}

.hd-signup a {
  text-decoration: underline;
}

.hd-arrow-down button {
  background: none;
  border: none;
  box-shadow: none;
  color: #fff;
  font-size: 20px;
}
.hd-arrow-down button .btn-arw-down {
  border: 1px solid #fff;
  border-radius: 50%;
  height: 66px;
  width: 66px;
  color: #fff;
}

.build-plan {
  text-align: center;
  height: auto;
  padding: 30px 0px;
  background: linear-gradient(180deg, #29a869 0.66%, #16181d 99.34%);
}
@media screen and (min-width: 768px) {
  .build-plan .title {
    font-size: 18px;
  }
}
@media screen and (max-width: 767px) {
  .build-plan .title {
    font-size: 16px;
  }
}
.build-plan .btn {
  background: none;
  border: none;
  box-shadow: none;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 10px;
  font-size: 14px;
  margin: 20px auto;
  width: auto;
}
@media screen and (min-width: 768px) {
  .build-plan .btn {
    padding: 0px 80px;
  }
}
@media screen and (max-width: 767px) {
  .build-plan .btn {
    padding: 0px 20px;
  }
}

.plan-section {
  padding-top: 80px;
  padding-bottom: 50px;
  background-color: #16181d;
}
.plan-section span {
  font-size: 14px;
  color: #1ce783;
}
.plan-section h2 {
  font-size: 48px;
  margin: 16px 0px;
}
.plan-section p {
  font-size: 18px;
  margin: 16px 0px;
}
.plan-section .btn {
  width: 300px;
  background-color: #1ce783;
  color: #272c34;
  font-size: 14px;
  font-weight: bold;
}
.plan-section .legal-text {
  color: rgba(255, 255, 255, 0.7);
  font-size: 10px;
}
.plan-section .legal-text a {
  text-decoration: underline;
}
.plan-section .channels {
  text-decoration: underline;
}

.covers .card {
  height: auto;
  width: 310px;
  border-radius: 10px;
  transition: border 1s;
  transition: opacity 0.5s;
}
.covers .card .card-title,
.covers .card .card-text {
  margin-left: 10px;
}
.covers .card .card-img {
  border-radius: 10px;
}
.covers .card:hover {
  opacity: 0.7;
  border: 3px solid #586174;
}

.cover-grad {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-linear-gradient(293.18deg, rgba(0, 0, 0, 0.6) 4.58%, transparent 69.61%), -webkit-linear-gradient(65.5deg, rgba(0, 0, 0, 0.2) 4.71%, transparent 71.49%);
  background: -moz-linear-gradient(293.18deg, rgba(0, 0, 0, 0.6) 4.58%, transparent 69.61%), -moz-linear-gradient(65.5deg, rgba(0, 0, 0, 0.2) 4.71%, transparent 71.49%);
  background: linear-gradient(156.82deg, rgba(0, 0, 0, 0.6) 4.58%, transparent 69.61%), linear-gradient(24.5deg, rgba(0, 0, 0, 0.2) 4.71%, transparent 71.49%);
}

.prem-txt {
  color: #586174;
  font-size: 10px;
  text-align: end;
  margin-right: 25%;
}

.slider-section {
  background: url(../img/live-sports.jpg) no-repeat center center/cover;
  position: relative;
}
@media screen and (max-width: 767px) {
  .slider-section {
    height: 780px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .slider-section {
    height: 1000px;
  }
}
@media screen and (min-width: 1024px) {
  .slider-section {
    height: 800px;
  }
}

.slider-content {
  position: absolute;
  top: 160px;
  left: 180px;
  max-width: 550px;
}

.slider-logos {
  width: 300px;
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.slider-logos div {
  background: url("../img/network-logo-bg.png") no-repeat center center/cover;
  height: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider-logos img {
  width: 40px;
}

.select-plan-section span {
  margin-top: 50px;
  font-size: 48px;
  font-weight: bold;
}
.select-plan-section p {
  font-size: 18px;
}
.select-plan-section .btn-group {
  margin-top: 30px;
  width: 400px;
  background-color: #272c34;
  border-radius: 50px;
}
.select-plan-section .btn-group .btn-check {
  padding: 15px;
  border-radius: 50%;
}
.select-plan-section .btn-group .btn-check:active {
  --bs-btn-active-bg: $color-secondery-2 !important;
  background-color: #424957 !important;
}
.select-plan-section .btn-group .btn {
  padding: 15px;
  color: #fff;
  border-radius: 50px !important;
}
.select-plan-section .btn-group .btn:active {
  background-color: #424957 !important;
}

.sticky-bar {
  margin-top: 10px;
  border-top: 1px solid #586174;
  border-bottom: 1px solid #586174;
}/*# sourceMappingURL=style.css.map */