@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  background-color: #16181d;
  color: #fff;
  line-height: 1.7;
  overflow-x: hidden;
}

a {
  color: #fff;
  text-decoration: none;
}

ul {
  list-style: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

button {
  height: 48px;
}

nav {
  height: 74px;
}

.nav-logo {
  fill: #1ce783;
  width: 61px;
  height: 24px;
}

.btn-login {
  padding: 4px 12px !important;
  border-radius: 10%;
  background-color: transparent;
  transition: background-color 0.5s;
}

.btn-login:hover {
  background-color: #424957;
}

.navbar-toggler {
  background-color: #424957;
  color: #fff;
}
.navbar-toggler span {
  color: #fff;
}

header {
  height: 670px;
  background: url(../img/original.jpg) no-repeat center center/cover;
}

.header-content {
  padding-top: 60px;
}

@media screen and (min-width: 768px) {
  .header-cards {
    width: 670px;
  }
}
@media screen and (min-width: 576px) and (max-width: 767px) {
  .header-cards {
    width: 570px;
  }
}
@media screen and (max-width: 575px) {
  .header-cards {
    width: 90%;
  }
}
.header-cards .card {
  border: none;
  width: 320px;
}
.header-cards .card .card-title {
  color: #1ce783;
  font-size: 12px;
  margin: 8px;
}
.header-cards .card .card-body {
  padding: 0;
  margin: 10px;
  height: 60px;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .header-cards .card .card-body .hd-logos {
    height: 60px;
    width: auto;
  }
}
@media screen and (max-width: 767px) {
  .header-cards .card .card-body .hd-logos {
    max-height: auto;
    width: inherit;
  }
}
.header-cards .card .card-subtitle {
  margin: 18px;
  color: #fff;
  font-weight: 500;
}
@media screen and (min-width: 768px) {
  .header-cards .card .card-subtitle {
    font-size: 24px;
  }
}
@media screen and (max-width: 767px) {
  .header-cards .card .card-subtitle {
    font-size: 18px;
  }
}
.header-cards .card .btn {
  background-color: #1ce783;
  color: #272c34;
  font-size: 14px;
  font-weight: bold;
}

.hd-legal button {
  background: none;
  border: none;
  box-shadow: none;
  color: #fff;
  font-size: 12px;
  text-decoration: underline;
}

.hd-signup a {
  text-decoration: underline;
}

.hd-arrow-down button {
  background: none;
  border: none;
  box-shadow: none;
  color: #fff;
  font-size: 20px;
}
.hd-arrow-down button .btn-arw-down {
  border: 1px solid #fff;
  border-radius: 50%;
  height: 66px;
  width: 66px;
  color: #fff;
}

.build-plan {
  text-align: center;
  height: auto;
  padding: 30px 0px;
  background: linear-gradient(180deg, #29a869 0.66%, #16181d 99.34%);
}
@media screen and (min-width: 768px) {
  .build-plan .title {
    font-size: 18px;
  }
}
@media screen and (max-width: 767px) {
  .build-plan .title {
    font-size: 16px;
  }
}
.build-plan .btn {
  background: none;
  border: none;
  box-shadow: none;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 10px;
  font-size: 14px;
  margin: 20px auto;
  width: auto;
}
@media screen and (min-width: 768px) {
  .build-plan .btn {
    padding: 0px 80px;
  }
}
@media screen and (max-width: 767px) {
  .build-plan .btn {
    padding: 0px 20px;
  }
}

.included-plan {
  padding-top: 80px;
  padding-bottom: 50px;
  background-color: #16181d;
}
.included-plan span {
  font-size: 14px;
  color: #1ce783;
}
.included-plan h2 {
  font-size: 48px;
  margin: 16px 0px;
}
.included-plan p {
  font-size: 18px;
  margin: 16px 0px;
}/*# sourceMappingURL=style.css.map */