/// IMPORTS
// Partial Sass Files
@use "media-queries.scss" as *;
// Google Fonts
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/// CONSTANTS
$color-primary-1: #1ce783;
$color-primary-2: #29a869;
$color-secondery-1: #272c34;
$color-secondery-2: #424957;
$color-secondery-3: #586174;
$color-white: #fff;
$color-black: #16181d;
$font-primary: "Rubik", sans-serif;

/// CUSTOM ELEMENTS
@mixin custom-button {
  background: none;
  border: none;
  box-shadow: none;
  color: $color-white;
}
/// STYLES
// RESETTERS
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: $font-primary;
  background-color: $color-black;
  color: $color-white;
  line-height: 1.7;
  overflow-x: hidden;
}
a {
  color: $color-white;
  text-decoration: none;
}
ul {
  list-style: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
button {
  height: 48px;
}
// NAVIGATION BAR
nav {
  height: 74px;
}
.nav-logo {
  fill: $color-primary-1;
  width: 61px;
  height: 24px;
}
.btn-login {
  padding: 4px 12px !important;
  border-radius: 10%;
  background-color: transparent;
  transition: background-color 0.5s;
}
.btn-login:hover {
  background-color: $color-secondery-2;
}
.navbar-toggler {
  background-color: $color-secondery-2;
  color: #fff;
  span {
    color: $color-white;
  }
}
// HEADER SECTION
header {
  height: 670px;
  background: url(../img/original.jpg) no-repeat center center / cover;
}
.header-content {
  padding-top: 60px;
}
.header-cards {
  @include gt-sm {
    width: 670px;
  }
  @include sm {
    width: 570px;
  }
  @include lt-sm {
    width: 90%;
  }
  //   background-color: green;
  //   border: 1px solid aqua;
  .card {
    border: none;
    width: 320px;
    .card-title {
      color: $color-primary-1;
      font-size: 12px;
      margin: 8px;
    }
    .card-body {
      padding: 0;
      margin: 10px;
      height: 60px;
      width: 100%;
      .hd-logos {
        @include gt-sm {
          height: 60px;
          width: auto;
        }
        @include lt-md {
          max-height: auto;
          width: inherit;
        }
      }
    }
    .card-subtitle {
      margin: 18px;
      color: $color-white;
      font-weight: 500;
      @include gt-sm {
        font-size: 24px;
      }
      @include lt-md {
        font-size: 18px;
      }
    }
    .btn {
      background-color: $color-primary-1;
      color: $color-secondery-1;
      font-size: 14px;
      font-weight: bold;
    }
  }
}
.hd-legal {
  button {
    @include custom-button();
    font-size: 12px;
    text-decoration: underline;
  }
}
.hd-signup {
  a {
    text-decoration: underline;
  }
}
.hd-arrow-down {
  button {
    @include custom-button();
    font-size: 20px;
    .btn-arw-down {
      border: 1px solid $color-white;
      border-radius: 50%;
      height: 66px;
      width: 66px;
      color: $color-white;
    }
  }
}
// PLAN BUILD SECTION
.build-plan {
  text-align: center;
  height: auto;
  padding: 30px 0px;
  background: linear-gradient(
    180deg,
    $color-primary-2 0.66%,
    $color-black 99.34%
  );
  .title {
    @include gt-sm {
      font-size: 18px;
    }
    @include lt-md {
      font-size: 16px;
    }
  }
  .btn {
    @include custom-button();
    border: 2px solid $color-white;
    border-radius: 10px;
    font-size: 14px;
    margin: 20px auto;
    width: auto;
    @include gt-sm {
      padding: 0px 80px;
    }
    @include lt-md {
      padding: 0px 20px;
    }
  }
}
// INCLUDED SECTION
.included-plan {
  padding-top: 80px;
  padding-bottom: 50px;
  background-color: $color-black;
  span {
    font-size: 14px;
    color: $color-primary-1;
  }
  h2 {
    font-size: 48px;
    margin: 16px 0px;
  }
  p {
    font-size: 18px;
    margin: 16px 0px;
  }
}
// MEDIA SECTION
